<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Distributed Ledger Research Cluster</h2>
                    <h3 class="section-subheading text-muted">Engineering Trustworthy Intelligent Machines.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{ site.baseurl }}/img/bc-anatomy.jpg" class="img-responsive img-centered" alt="CCOP">
                    <!-- '{{ site.baseurl }}/img/header-bg-3.jpg' -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>Over the last decade, the <b>Distributed Ledger technology (DLT)</b>, also known as Blockchain, has emerged as a means for a group of rational agents to connect and coordinate with each other to carry out a process without relying on an opaque and centralized intermediary. Distributed Ledgers do not exist in vacuum. Instead, in any usage scenarios that involve DL, they are in constant contact and interaction with other software systems, services, and intelligent machines. Thus, whether DL can make an effective solution depends a great deal on how it is integrated with other systems. Moreover, as DL is a software system itself, the successful utilization of DL also depends on how it is designed and engineered. <i>As any emerging technologies, DLT has its terminologies, characteristics, and constraints that software engineers must carefully consider in order to utilize it effectively.</i></p>
                    <p>The goal of the <b>DLT research cluster at CREST</b> is to support industries, governments, and societies in leveraging DLT to address current challenges and prepare for the emerging machine economy. The foundation of my research and practice is evidence-based software engineering research methods, based on inputs from scientific literature, empirical data, and experimentation. Upon this foundation, our research addresses three topic areas.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fas fa-tachometer-alt"></i> -->
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Architecture</h4>
                    <p class="text-muted">Models and processes for evaluating and designing DLT systems.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Platform</h4>
                    <p class="text-muted">Tools and automation support for the engineering of DLT systems.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Application</h4>
                    <p class="text-muted">DLT systems in practice, particularly use cases at the tactical edge.</p>
                </div>
            </div>
        </div>
    </section>